<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TermInjectorPlus.TermInjectorPlusSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TermInjectorPlus.TermInjectorPlus" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TermInjectorPlus.TermInjectorPlusSettings>
            <setting name="EditRuleDir" serializeAs="String">
                <value>editrules</value>
            </setting>
            <setting name="TermInjectorDir" serializeAs="String">
                <value>TermInjectorPlus</value>
            </setting>
            <setting name="ConfigDir" serializeAs="String">
                <value>configs</value>
            </setting>
            <setting name="LogDir" serializeAs="String">
                <value>logs</value>
            </setting>
        </TermInjectorPlus.TermInjectorPlusSettings>
        <TermInjectorPlus.TermInjectorPlus>
            <setting name="EditRuleDir" serializeAs="String">
                <value/>
            </setting>
        </TermInjectorPlus.TermInjectorPlus>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
